# Ignore all dot files (otherwise use the `--force` flag).
.*
data/
**/rabbitmq/

# But not these files...
!.gitignore
!.gitmodules
!.flake8
!.dockerignore
!.env.template
!.black
!.isort.cfg
!.gitkeep
!.python-version

# Ignore Python optimizations (Byte-compiled / optimized / DLL files).
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments.
venv/
.venv/
/.env
*.json
scripts/x.py

# Ignore files
*.pem